[Unit]
Description=NVIDIA driver
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=20m
ExecStartPre=-/usr/bin/docker rm nvidia-driver
ExecStartPre=/bin/sh -c 'while ! /usr/bin/docker pull srcd/coreos-nvidia-driver-installer:latest; do sleep 1; done'
ExecStartPre=/usr/bin/docker run --rm \
  -v /:/root \
  -v /dev:/dev \
  -v /opt/nvidia:/usr/local/nvidia \
  --privileged \
  -e NVIDIA_INSTALL_DIR_HOST=/opt/nvidia \
  -e NVIDIA_INSTALL_DIR_CONTAINER=/usr/local/nvidia \
  -e ROOT_MOUNT_DIR=/root \
  srcd/coreos-nvidia-driver-installer:latest
ExecStart=/usr/bin/docker run --rm --name nvidia-driver srcd/coreos-nvidia-driver-installer:latest sleep infinity  
ExecStop=/usr/bin/docker stop nvidia-driver

[Install]
WantedBy=multi-user.target
